*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}


html,
body {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
p font {
  display: none;
}

label {
  font-weight: normal;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #848788;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #313131;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #807d7d;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #727171;
}
